/*Fuentes*/

header * {
  box-sizing: border-box;
}
header {
  background-image: url(https://onelargepopcornplease.files.wordpress.com/2017/07/rick-morty-cover.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100rem;
  height: 15rem;
  flex-shrink: 50%;
  padding-top: 0px;
  position: relative;
  max-width: 100%;
  max-height: 50%;
}

h1 * {
  box-sizing: border-boxf;
}
h1 {
  color: #3d3b3b;
  text-align: center;
  font: 600 40px "Inter", sans-serif;
  position: relative;
  flex-shrink: 50%;
}

button,
button * {
    padding: 1rem;
    border-radius: 8rem;
    border-color: #36D3DD;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #36D3DD;
    color: #3d3b3b;
}

@media (max-width: 768px) {
  .random-facts {
    position: absolute;
    right: 0;
    /*width: 13%;
    height: 3em;*/
    font-size: 14px;
    padding: 5px 10px;
  }
}

select,
select * {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8rem;
  border-color: #36d3dd;
  padding: 0.8rem;
}

ul {
  display: flex;
  justify-content: center; /* Alineación horizontal al centro */
  align-items: flex-start; /* Alineación vertical al inicio */
  gap: 30px; /* Espacio de 40 píxeles entre elementos secundarios */
  flex-wrap: wrap;
}

.personaje {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.personaje {
display:flex;
flex-direction:column;
justify-content:space-between;
width: calc(20% - 5px); /* Para dividir en 3 columnas con un espacio de 30px entre ellas */
border: 1px solid lightgray;
box-shadow: 2px 2px 8px 4px #d3d3d3d1;
border-radius:15px;
font-family: sans-serif;
text-overflow: ellipsis;
}

.personaje img {
  max-width: 100%; /* Hace que la imagen tenga un ancho máximo del 100% del contenedor */
  height: auto; 
  width: auto;/* Asegura que la altura se ajuste automáticamente para mantener la proporción */
}

.personaje h2 {
  text-align: center;
  font-size: 1.5 em;
  padding: 10px 10px 0 10px;
}

.personaje h3 {
  text-align: center;
  font-size: 1 em;
  padding: 5px;
}

.info {
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-size: 12px;
  padding: 10px;
  flex-flow: row;
  background-color: rgb(240, 248, 247);
}

footer {
  background-color: rgb(246, 250, 250);
  font-size: 10px;
}


/* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
@media only screen and (max-width : 720px) {
  .personaje {
    width: 50%;
  }     
}

@media (max-width : 480px) {
    .personaje {
      width: 100%;
  }     
}